<!DOCTYPE html>
<html ng-app="dashboardApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MK2MG - Milton Keynes to Mongolia</title>
    <!-- Core CSS - Include with every page -->
    <!-- <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" /> -->
    
	<link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/main-style.css" rel="stylesheet" />
    <link href="assets/css/timeline.css" rel="stylesheet" />
	
	<!-- <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet" /> -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	
	
    <!-- Page-Level CSS -->
    <!-- <link href="assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" /> -->
   </head>
<body>

	 <div class="example3">
	   <nav class="navbar navbar-default navbar-static-top">
	     <div class="container">
	       <div class="navbar-header">

			 <img class="img img-round" src="assets/img/dashboard_logo.png"  alt="MKpandas46-logo">
	         
	       </div>
	       <div class="navbar-collapse collapse">
	         <ul class="nav navbar-nav navbar-right">
	           <li class="active"><a href="">Home</a></li>
	           <li><a href="http://miltonkeynestomongolia.com">About</a></li>
	           <li><a href="mailto:ilaria.tiddi@open.ac.uk">Contact</a></li>
	         </ul>
	       </div>
	       <!--/.nav-collapse -->
	     </div>
	     <!--/.container-fluid -->
	   </nav>
	 </div>
		
		
    <!--  wrapper -->
    <div id="wrapper">
		<div class="jumbotron">
		  <h1>Hello, world!</h1>
		   <img class="img img-round" src="assets/img/dashboard_logo.png"  alt="MKpandas46-logo">
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
		

		<div class="row">
			<div ng-controller="MapController" class="col-lg-12 col-sm-12">
		          	<ui-gmap-google-map center='map.center'  zoom='map.zoom' options="{scrollwheel: false, draggable: false}" events="map.events">
		 				<ui-gmap-marker ng-repeat="point in waypoints" options="point.options"coords="point" idKey="1"> </ui-gmap-marker>
						<ui-gmap-polyline path='waypoints'  stroke='stroke' geodesic = 'true' visible='true' ></ui-gmap-polyline>
	 				</ui-gmap-google-map>
			</div>
		</div>
        
		
	
	
		<div ng-controller="TimelineCtrl" class="row">
			<div class="col-lg-12 col-sm-12">
				<div id="map_container" style="position: relative;  width: 100%; height: 500px;"></div>
			<br/>
			</div>
			
	            <div class="col-lg-8 col-sm-10" >
					<div class="panel panel-primary">
	                    <div class="panel-heading"><i class="fa fa-clock-o fa-fw"></i>Timeline</div>
	                    <div class="panel-body" id="timelinePanel">
	                        <ul class="timeline timeline-horizontal">
								<li ng-repeat="pit in pitstops" class="timeline-item">
									<div class="timeline-badge primary">{{pit.name}} {{hoverEdit}}</div>
								</li> <!-- // TODO : STYLE HERE -->
								<!-- <li  ng-repeat="event in events" class="timeline-item">
									<div ng-mouseover="hoverEdit=true" ng-mouseleave="hoverEdit=false" class="timeline-badge {{event.badge}}"><i class=" {{event.type}}"></i></div>
									<div ng-show="hoverEdit" class="timeline-panel">
										<div class="timeline-heading">
											 <h4 class="timeline-title">{{event.title}}</h4>
	                                         <p>
	                                            <small class="text-muted"><i class="fa fa-time"></i>{{event.when}} via {{event.from}}</small>
	                                         </p>
										</div>
										<div class="timeline-body">
											 <div class="table-responsive">
											 	<table class="table">
												<tbody>
											 		<tr><td><span class="fa fa-car " aria-hidden="true"></span></td><td><strong> Where are we: </strong></td><td>{{event.where}}</td></tr>
													 <tr><td><span class="fa fa-tachometer" aria-hidden="true"></span></td><td> <strong> KM done: </strong></td><td>{{event.km}}</td></tr>
			 								<tr><td><span class="fa fa-camera-retro" aria-hidden="true"></span></td><td> <strong> Picture: </strong></td><td>{{event.url}}</td></tr>
			 								<tr><td><span class="fa fa-bed" aria-hidden="true"></span></td><td><strong> Where did we sleep: </strong> </td><td>{{event.sleep}}</td></tr>
			 								<tr><td><span class="fa fa-tripadvisor" aria-hidden="true"></span></td><td><strong> Where did we eat: </strong> </td><td>{{event.food}}</td></tr>

											 	</tbody>
												</table>
											 </div>

										</div>
									</div>
								</li> -->
								
								
	                        </ul>
	                    </div>
	                </div>  <!--End panel Timeline -->
	           	</div>  <!--End col-8 -->
				
				
		</div> <!-- end row storytelling -->
		
		<div class="row"> 
		
		<div class ="col-lg-4 col-sm-2">
               <div class="panel panel-primary">
                   <div class="panel-heading">                               
                       Twitter Feeds                          
                   </div>

                   <div class="panel-body">
					 <a class="twitter-timeline" data-width="400" data-height="350" data-dnt="true" href="https://twitter.com/mk2mg"></a> 
                   </div>
				   <div class="panel-footer">
                       Follow us! <a href="https://www.facebook.com/mk2mg/"><span class="fa pull-right fa-facebook fa-lg"> </span> </a>
					   <a href="https://www.twitter.com/mk2mg"> <span class="fa fa-twitter fa-lg pull-right"></span></a>
					   <a href="http://miltonkeynestomongolia.com">http://miltonkeynestomongolia.com</a>
                   </div>

               </div> <!--End Chat Panel Example-->
           </div>
		</div>	
        <div  class="row">
    		<div class="col-lg-4  col-sm-4" ng-controller="LineController">
				<div class="panel panel-success">
				        <div class="panel-heading">Line Chart</div>
				        <div class="panel-body">
				              <canvas id="canvas-line" class="chart chart-line ng-isolate-scope" chart-data="data" chart-labels="labels" chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" ></canvas>
				   	   	</div>
				</div>
			 </div> <!-- end col-4 -->
			 
			<div class="col-lg-4 col-sm-4" id="doughnut-chart" ng-controller="DonutCtrl">
		          <div class="panel panel-warning">
		            <div class="panel-heading">Doughnut Chart</div>
		            <div class="panel-body">
		              <canvas id="doughnut" class="chart chart-doughnut chart-xs ng-isolate-scope" chart-data="data" chart-labels="labels" ></canvas>
		            </div>
			    </div>
			</div> <!-- end col-4 -->
				
				
			<div class="col-lg-4 col-sm-4" id="bubble-chart" ng-controller="BubbleCtrl">
		          <div class="panel panel-danger">
		            <div class="panel-heading">Bubble Chart</div>
		            <div class="panel-body">
		              <canvas id="bubble" class="chart chart-bubble ng-isolate-scope" chart-data="data" chart-options="options"></canvas>
		            </div>
		          </div>
	        </div> <!-- end col-4 -->
			
        </div> <!-- end row -->
			
		 	
	 
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- // <script src="js/bootstrap.min.js"></script> -->
	
	<script src="./js/angular.min.js"></script>   
    <script src="assets/scripts/angular-simple-logger.js"></script>
    <script src="assets/scripts/lodash.js"></script>
	<!-- // <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script> -->
   
    <script src="assets/scripts/angular-google-maps.min.js"></script>
	
		
    <!-- // <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script> -->
    <!-- // <script src="assets/scripts/siminta.js"></script> -->
    <!-- Page-Level Plugin Scripts-->
    <!-- // <script src="assets/plugins/morris/raphael-2.1.0.min.js"></script> -->
    <!-- // <script src="assets/plugins/morris/morris.js"></script> -->
    <!-- // <script src="assets/scripts/dashboard-demo.js"></script> -->
	
 	<script src="assets/scripts/dashboard.js"></script>
	<!-- // <script src="assets/scripts/angular-datamaps.min.js"></script> -->
	
   	<!-- // <script src="./js/ui-bootstrap-2.0.1.min.js"></script> -->	
 	<!-- // <script type="text/javascript" src="./js/inspector-gadget.min.js"></script> -->
 	<!-- // <script src="./js/moment.min.js"></script> -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
	<script src="./js/datamaps.world.min.js"></script>
	
 	<script src="./js/Chart.min.js"></script>  
 	<script src="./js/angular-chart.min.js"></script>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>